html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* 
$color1: rgba(24, 32, 111, 1);    // midnight blue
$color2: rgba(23, 37, 90, 1);     // space cadet 
$color3: rgba(245, 226, 200, 1);  // champagne
$color4: rgba(216, 131, 115, 1);  // new york pink
$color5: rgba(189, 30, 30, 1);    // cornell red 
*/

body,
.app {
  height: 100%;
}

.app {
  padding-bottom: 100px;
}

.search-input-wrapper {
  background-color: rgba(23, 37, 90, 1);
  padding: 50px 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  color: rgba(23, 37, 90, 1);
  padding: 20px;
  width: 900px;
  border: 0;
  border-radius: 5px;
  font-size: 22px;
}

.search-input:focus {
  outline: 0;
}

.search-results {
  max-width: 900px;
  margin: 0 auto;
}

.search-result-item {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(23, 37, 90, 0.2);
}

.search-result-item:hover {
  background-color: rgba(245, 226, 200, 0.3);
}

.search-result-item-img {
  margin-right: 20px;
}

.search-result-item-details {
  display: flex;
  flex-direction: column;
}

.search-result-item-name {
  font-weight: bold;
  font-size: 16px;
}

.search-result-item-artist {
  font-size: 12px;
}

.podcast-header {
  background-color: rgba(23, 37, 90, 1);
  margin-bottom: 30px;
}

.podcast-header-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  color: rgba(245, 226, 200, 1);
}

.podcast-header-title {
  font-size: 30px;
  font-weight: bold;
}

.podcast-header-author {
  margin-bottom: 20px;
  opacity: 0.75;
  font-style: italic;
}

.podcast-header-description {
  color: white;
}

.podcast-episodes {
  max-width: 900px;
  margin: 0 auto;
}

.podcast-episode-item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(23, 37, 90, 0.2);
}

.podcast-episode-item:hover {
  background-color: rgba(245, 226, 200, 0.3);
}

.podcast-episode-item-img {
  margin-right: 20px;
}

.podcast-episode-item-details {
  display: flex;
  flex-direction: column;
}

.podcast-episode-item-title {
  font-weight: bold;
  font-size: 16px;
}

.podcast-episode-item-published {
  color: #000;
  font-size: 12px;
}

.snippet-loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

.snippet-loader-page {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.episode-content {
  max-width: 900px;
  margin: 0 auto;
}

.episode-player {
  display: flex;
  margin-bottom: 30px;
}

.episode-player-img {
  margin-right: 20px;
}

.episode-player-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.episode-player-controls {
  background-color: rgba(23, 37, 90, 0.1);
  padding: 10px;
  border-top: 3px solid rgba(245, 226, 200, 1);
}

.episode-player-controls audio {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.episode-player-controls audio:focus {
  outline: none;
}

.episode-player-controls form {
  display: flex;
  align-items: center;
}

.playback-speed-label {
  margin-right: 20px;
}

.episode-snippets-container {
  position: relative;
}

.episode-snippets-container h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-snippet-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.episode-snippets-header {
  min-height: 50px;
  margin-bottom: 20px;
}

.episode-snippet {
  background-color: rgba(23, 37, 90, 0.1);
  padding: 20px;
  border-top: 3px solid rgba(245, 226, 200, 1);
  margin-bottom: 20px;
}

.episode-snippet-quote {
  font-style: italic;
  margin-bottom: 10px;
}

.episode-snippet-timestamp {
  text-align: right;
}
